/**LINE**/
.lineOuter{
	border: solid black 1px;
}
/*
body {
    background-image: url("IMG_5825.JPG");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/

body {
	background-color: #ECEFF1;
}

/**MENU**/
.navbar-default {
  background-color: #607D8B;
  border-color: #546E7A;
}
.navbar-default .navbar-brand {
  color: #ECEFF1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #CFD8DC;
}
.navbar-default .navbar-text {
  color: #ECEFF1;
}
.navbar-default .navbar-nav > li > a {
  color: #ECEFF1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #CFD8DC;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #546E7A;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ECEFF1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #CFD8DC;
  background-color: #546E7A;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #546E7A;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #CFD8DC;
  background-color: #546E7A;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #CFD8DC;
  background-color: #546E7A;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #CFD8DC;
  background-color: #546E7A;
}
.navbar-default .navbar-toggle {
  border-color: #546E7A;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #546E7A;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ECEFF1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ECEFF1;
}
.navbar-default .navbar-link {
  color: #ECEFF1;
}
.navbar-default .navbar-link:hover {
  color: #CFD8DC;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ECEFF1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #CFD8DC;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #CFD8DC;
    background-color: #546E7A;
  }
}
/**
.journal{
	opacity: 0.9;
    filter: alpha(opacity=40);
}
**/

