body {
	background: #A8C2AE;
}

#resultText h3 {
	text-align: center;
	color: #20668B;
}

#resultText h2 {
  text-align: center;
  color: #3AB0C0;
}

.choicePic {
	background-color: #EEEEEE;
	padding: 10px;
	border-radius: 5px;
}

.resultColumn {
	background-color: #5894B4;
	padding: 13px;
	border-radius: 3px;
}

.winColumn {
  background-color: #5CC7D6;
  padding: 13px;
  border-radius: 3px;
}




/******NavBar Color*******/
.navbar-default {
  background-color: #369cc1;
  border-color: #65cad9;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #dbfffd;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #dbfffd;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #369cc1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #dbfffd;
  background-color: #65cad9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #65cad9;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #dbfffd;
  background-color: #65cad9;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #dbfffd;
  background-color: #65cad9;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #dbfffd;
  background-color: #65cad9;
}
.navbar-default .navbar-toggle {
  border-color: #65cad9;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #65cad9;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #dbfffd;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #dbfffd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #dbfffd;
    background-color: #65cad9;
  }
}