body {
	background-color: #CBC4D0;
}

* {
	box-sizing: border-box;
	font-family: verdana;
}

#unique {
	background-color: #D389E3;
}

#unique p {
	margin: 0;
}

#unique ol {
	color: white;
	padding: 10px 10px 10px 75px;
}

.clear {
	clear: both;
}

#currentPage a {
	background-color: #41016C;
}

.journalEntry {
	width: 92%;
	background-color: #473323;
	margin: 50px auto;
}

.journalEntry p {
	color: white;
	background-color: #9939AD;
	padding: 20px 40px;
}

.journalEntry h1 {
	color: white;
	background-color: #41016C;
	padding: 10px;
	margin: 0;
	text-align: center;
}

.journalEntry ul {
	color: white;
	padding: 10px 10px 10px 75px;
	margin: 0;
}

.journalEntry img {
	width: 60%;
	padding: 15px 75px 5px;
}



/**NavBar Color**/

.navbar-default {
  background-color: #41016c;
  border-color: #9654b2;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #41016c;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ecdbff;
  background-color: #9654b2;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #9654b2;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ecdbff;
  background-color: #9654b2;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #9654b2;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #9654b2;
}
.navbar-default .navbar-toggle {
  border-color: #9654b2;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #9654b2;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #9654b2;
  }
}