/****General****/
* {
	color: white;
	background-color: black;
	font-family: "Open Sans", sans-serif;
}

.lineOne {
	height: 3px;
	width: 70%;
	border: solid white 1px;
	margin: auto;
}

.lineTwo {
	width: 50%;
	border: solid white 1px;
	margin: auto;
}

body {
	margin: 0px;
}

#expandPic {
	width: 40%;
}

#expandPic:hover {
	width: 150%;
	-webkit-transition: width .4s;
}



/****Menu****/
.navigationBar {
	margin: auto;
	width: 600px;
}

#currentTabText {
	border: solid #464646 2px;
	background-color: #464646;
	color: #FF4900;
}

.navigationItem {
	float: left;
}
.linkText{
	width: 175px;
	padding: 20px 10px;
	border: solid black 2px;
	text-align: center;
}

.linkText:hover {
	border: solid white 2px;
	background-color: #464646;
	color: #FF4900;
}

a:link {
	text-decoration: none;
}
/****Titles****/
#titleText {
	text-align: center;
}

.subTitle {
	text-align: center;
	color: grey;
}
/****Content****/
#content {
	width: 50%;
	margin: 0px 25%;
	line-height: 105%;
}
#mainText {

}
/****Projects****/
.project {
	margin-left: 300px;
}