/* body*/

body {
    background-image: url(https://i.ytimg.com/vi/u_f_yDnFtm8/maxresdefault.jpg);
    background-attachment: fixed;
    color: white;
}

/*div*/

div .list {
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 60px;
    margin-left: 25px;
    margin-right: 25px;
    width: auto;
    color: white;
}


/*objective and agenda*/

.date {
    text-align: right;
}

.agenda {
    text-indent: 50px;
}

.objective {
    text-indent: 50px;
}

.summary {
    text-indent: 50px;
}

p {
    text-indent: 10px;
}


.row {
    margin-top: 70px;
}

.color {
    color: white;
}

/* Thumb Nail */

.thumbnail {
    border-color: white;
    background: none;
}

.thumbnail p {
    color: white;
}

.thumbnail h3 {
    color: white;   
}

/* Icons */ 

.material-icons {
    color:white;
}

.sliders {
    margin-top: 100px;
}

.project {
    color: white;
}

/* Navigation Button */ 

.demo-layout-transparent {
  background: url('../assets/demos/transparent.jpg') center / cover;
}

.demo-layout-transparent .mdl-layout__header, .glyphicon, .glyphicon-menu-hamburger, button
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
    color: white;
    width: 150%;
    height: 150%;
}

 {
    
}
