p{
	border-radius: 5px;
	border: solid black 5px;
	background-color: #5D3F6E;
	color: #D9D900;
}
li{
	border-radius: 5px;
	border: #330EBE 5px;
	margin: auto;
	
}
ul{
	border-radius: 15px;
	border: solid black 5px;
	color: #ECBD29;
}
h4{
	border-radius: 5px;
	border: solid black 5px;
	background-color: #0966AD;
}
.row{
	background-color: #65039C;
}
.yellow{
	background-color: #0D3289;
}

/****List Order Colors****/
#L1{
	background-color: #FF5689; 
	border-radius: 5px 0px 0px 0px;
}
#L2{
	background-color: #FF3270;
	border-radius: 0px;
}
#L3{
	background-color: #FF1D61;
	border-radius: 0px;
}
#L4{
	background-color: #FF004D;
	border-radius: 0px 0px 5px 0px;
}
/****Fin****/