/*CSS FOR TAGS*/

div{
    box-sizing: border-box;
}

a{
	text-decoration: none;
	display: block;

}

body{
	background-color: #6A6158;
}

img{
	display: block;	
}

p{
	font-family: Georgia, serif;	
}



/*CSS FOR ID'S*/
#contentOne{
	width: 600px;
	float: left;
	margin: 20px 65px 20px 80px;
}

#contentTwo{
	float: right;
	width: 1000px;

}

#contentThree{
	float: right;


}

#vTitle{
	font-size: 35px;
	text-align: center;
	clear: both;
	color: white;
}

#homeSelected p{
	color: #9E791C;
}

#page1Selected p{
	color: #9E791C;
}

#page2Selected p{
	color: #9E791C;
}

#page3Selected p{
	color: #9E791C;
}

#page4Selected p{
	color: #9E791C;
}

#homeSelected{
	background-color: #3D3D3C;
}

#page1Selected{
	background-color: #3D3D3C;
}

#page2Selected{
	background-color: #3D3D3C;
}

#page3Selected{
	background-color: #3D3D3C;
}

#page4Selected{
	background-color: #3D3D3C;
}

#menu{
	width: 85%;
	height: 85px;
	background-color: #413834;
	margin: auto;
	padding: 5px;
	border: 3px solid #413834; 
	border-radius: 10px;

}

#RMICap{
	font-size: 30px;
	color: white;
	text-indent: 275px;
	margin: 5px;
}

#Map{
	display:block;
	margin: auto;

}

#WEPCap{
	font-size: 30px;
	color: white;
	text-indent: 170px;
	margin: 5px;
}

#USCap{
	font-size: 30px;
	color: white;
	text-indent: 65px;

/*CSS FOR CLASSES*/

}
.HPic{
	float: left;
}


.picCenter{
	margin: auto;
}

.subMenu p{
	color: black;
	font-family: 
}

.menuText{
	margin: 0px;
	font-size: 45px;
	text-align: center;
	font-family: "Times New Roman"

}

.menuText:hover{
	color: #9E791C;
}

.contentTextOne{
	font-size: 30px;
	color: white;
	text-indent: 50px;
	margin: 5px;
}

.contentTextTwo{
	font-size: 30px;
	color: white;
	text-indent: 50px;
	text-align: center;
}


.content{
	width: auto;
	height: auto;
	padding: 15px;
	
}

.subMenu{
	width: 23.75%;
	height: 95%;
	background-color: #FA2323;
	padding: 5px;
	float: left;
	margin-left: 0.5%;
	margin-right: 0.5%;
	border: solid black 3px;
	border-radius: 10px;
}

.subMenu:hover{
	background-color: #3D3D3C;

}

.clear{
	clear: both;
	height: 30px;

}

.spacer{
	width:800px;
	height: 40px;
	 	
}

.page2Img{
	margin-left: 40px;
	margin-top: 30px;

}

.heroText{
	width: 900px;
	float: left;
	margin-left: 100px;
	font-size: 25px;

}