

.img-responsive {
	width: 50%;
	height: 50%;
	border: 1px black solid;
	margin-top: 10px;
}

.container {
	margin-top: 50px;
}

div .jumbotron {
	text-align: center;
	height: 40%;
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 10px;
}


div {
	margin: center;
}

#result p {
	color: white;
}