
/*400, 353, 500*/


/*General*/
a{
	text-decoration: none;
	display: block;
}
img{
	margin-left:auto;
	margin-right:auto;
	display: inline;
}

div{
	border: 2px solid black; 
	color:black;
}

#navBar{
	width: 1100px; 
	height: 100px; 
	background-color: #582A72;
	border-radius: 30px;
	margin-left: auto; 
	margin-right: auto;
	padding: 40px;
}	

#container{ 
	width: 1500px;
	height: 8000px;
	border-radius: 10px; 
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	background:url(http://i.imgur.com/ekmmc7I.png);
	background-size: 100%;
	background-attachment: fixed;
}

.subMenu{
	width: 260px;
	height: 60px;
	background-color: #857A7A;
	border-radius: 10px;
	margin:right;
	margin-left;
	float: right;	
	font-size: 35px;
	text-indent: auto; 
}

.titleBox{
	height: 100px;
	width: 1200px; 
	margin-right: auto;
	margin-left: auto;
	padding-left: 110px;
	padding-right: 110px;
	padding-bottom: 30px;
	padding-top: 30px;
	background-color: #857A7A;
	border-radius: 10px;
}

.basicHomebox{
	height: 40%;
	width: 1270px;
	margin-right: auto;
	margin-left: auto;
	padding-left:  110px; 
	padding-right: 110px;
	padding-bottom: 30px;
	padding-top: 30px;
	background-color: #857A7A; 
	border-radius: 10px;
}

.journalBox{
	height: 40%;
	width: 1300px;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	background-color: #FFFFFF;
	border-radius: 10px; 
}

.journalEntry{
	height: 100px;
	width: 900px;
	margin-bottom: auto;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #A7A7A7;
	border-radius: 10px;
}





